/* Media Query: */

#nav-select {
    visibility: hidden;
  }

div.a {
    outline: 2px solid #B0C4DE;
  }

@media screen and (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  @media screen and (max-width: 600px) {
    .demo a {
       float: none;
       width: 100%;
    }
 }